.contenedor {
  background-color: black;
}
header {
  background-color: red;
}
nav {
  background-color: greenyellow;
}
section {
  background-color: green;
}
footer {
  background-color: blue;
}
